<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Тестовое</title>
  <link rel="stylesheet" href="/css/testing.css">
</head>

<body>
<div class="container">
  <h1>Тестовая страница</h1>
  <div id="banner" class="hidden">
    <p>Специальное предложение! Подключите уведомления Т-банка за 299₽!</p>
    <div class="banner-buttons">
      <button class="banner-button close-top">Позже</button>
      <button class="banner-button close-top">Закрыть</button>
      <button class="banner-button">Ок</button>
      <button class="banner-button">Хорошо</button>
      <button class="banner-button">Подробнее</button>
      <button class="banner-button">Я согласен</button>
    </div>
  </div>
</div>

<script src="/js/testing.js"></script>
</body>
</html>